<%-include('partials/header') %>
<div class="container ">
<header class="jumbotron" style="background:url('https://cdn.wallpapersafari.com/62/10/uTPXLF.jpg'); border-radius: 30px;">
  <div class="container jadu" style="margin: 20px;position: relative;">
    <h2 style="color: rgb(105, 15, 223);">
      1) <span style="font-family: 'Satisfy', cursive;">Gaurav</span></h2>
    <p style="color: DarkOrange;">Email:- gaurav.wawdhane@gmail.com</p>
    <p style="color:Fuchsia;">
    Contact No.- 9110184558<br>
    </p>
  </div>
  <hr>
</header>
</div>
  </body>
  </html>
