<%-include('partials/header') %>
<div style="padding: 20px; margin: 10px;">
    <center>
    <form action="/updatedtest" method="POST">
        <lable for="idtest">Choose the Test you wanted to be deleted : </label><br>
        <select id="idtest" name="idtest">
        <% tests.forEach(test =>{ %>
            <option value=<%= test._id %>><%= test.name %></option>
        <% }) %>
        </select><br>
        <div style="border: 2px solid green; margin: 10px; padding: 10px; border-radius: 10px;">
            <label for="name">New Name : </label><br>
            <input id="name" name="name" type="text"><br>
            <label for="price">Price : </label><br>
            <input id="price" name="price" type="number"><br>
            <label for="discount"> Discount :</label><br>
            <input id="discount" name="discount" type="number"><br>
            <label for="description"> Description : </label><br>
            <textarea id="description" name="description"></textarea><br>
        </div>
        <input type="submit" value="Update Test" style="padding: 10px; margin: 20px; color: green">
    </form>
    <pre style="color: red">
        If you want Don't want to change the field Please don't Enter Anything..!
    </pre>
    </center>
</div>
<%-include('partials/footer') %>